body {
    @apply relative antialiased;
}

pre::-webkit-scrollbar {
    display: none;
}

input[type="text"],
input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
